h1 Workflow Test
script(src='/javascripts/jquery-1.7.2.min.js',type='text/javascript')
script(src='/javascripts/underscore.js',type='text/javascript')
script(src='/javascripts/berico-ui-fsm.js',type='text/javascript')
script(src='/javascripts/berico-ui-workflow.js',type='text/javascript')
script(src='/javascripts/berico-ui-prototype.js',type='text/javascript')
div#content